OPENAI_API_KEY=
GROQ_API_KEY=
GEMINI_API_KEY=

# Langsmith
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Litellm_Chatbot"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Litellm
LITELLM_MASTER_KEY=
DATABASE_URL=
UI_USERNAME=admin
UI_PASSWORD=admin

PRESIDIO_ANALYZER_API_BASE="http://localhost:3000"
PRESIDIO_ANONYMIZER_API_BASE="http://localhost:3001"
